<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ParseLocationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>165F11A11BEDE6CA00C8C778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>165F11B81BEDE6CB00C8C778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>165F11C31BEDE6CB00C8C778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
